$backcoundColor : #060309;
$textColor_1 : #ebe3f4;

$navMargin : 128px;


/*Font sizes*/
$fSizeLogo : 32px;
$fSizeNav : 20px;
$fSizeh1 : 48px;

$borderRad : 4px;

@mixin hoverEffectLine($pos) {
    content: "";
    height: 100%;
    width: 2px;
    position: absolute;
    right: $pos;


    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

    transition: right 0.2s ease-in-out;
    transition-delay: 0.05s;
    transform: scaleY(0.9);
}


@keyframes navOnHover {
    100% {width: 100%;}
}



h1 {
    font-size: $fSizeh1;
    margin-bottom: 8px;
}

/**/
body {
    margin: 0;
    /*Set colors*/
    background-color: $backcoundColor;
    color: $textColor_1;

    /*Set main font*/
    font-family: 'Trebuchet MS', sans-serif;
}

/*Holds main content*/
.globalContainer {
    display: flex;
    align-items: flex-start;
    justify-content:flex-start;
    flex-wrap: wrap;
    margin: 48px;
    margin-top: 64px;
    
}
.navAndHome {

    position: sticky;
    top: 0;
    margin: 48px;
    margin-top: 8px;
}
.logo {
    cursor: pointer;
    margin-top: 0px;
    font-size: $fSizeLogo;
    width: fit-content;
    height: fit-content;
    position: relative;
    padding-right: 8px;
    padding-left: 8px;


    border-radius: $borderRad;
}
.logo::after {
    @include hoverEffectLine(100%);
    background-color: white;
    background-image: none;
}
.logo:hover::after {
    right: 0%;
}
.logo:hover {
    background-color: $textColor_1;
    color: $backcoundColor;
}
/*Links in navigation*/
.navLink {
    cursor: pointer;
    color: $textColor_1;
    font-size: $fSizeNav;
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 12px;
    width: fit-content;
    padding: 4px;


    border-radius: $borderRad;

    transition: 0.2s;
}
.navLink:hover {
    background-color: $textColor_1;
    color: $backcoundColor;
}
/*Main navigation bar*/
.mainNav {
    display: flex;
    flex-flow: column;
    position: relative;

    /*border-right: 2px solid;*/

    width: fit-content;
    
    margin-top: 0;
    /*margin-left: calc($navMargin - 8px)/*navMargin - padding*/;
    /*margin-right: $navMargin;*/
    padding-left: 8px;
    padding-right: 16px;
}
.mainNav::after {
    @include hoverEffectLine(0%);
}
.mainNav:hover::after {
    right: 100%;
}






/*Holds main infomation at middle*/
.infoContainer {
    width: 400px;
    h1 {
        margin-top: 0px;
    }
}

.card {
    width: 320px;
    height: 180px;

    border-radius: $borderRad;

    background-color: grey;

}

.selectorCard {
    width: 320px;
    height: 180px;

    border-radius: $borderRad;

    margin: 8px;

    background-color: grey; 
    p {
        margin-left: 4px;
        margin-top: 4px;
    }   
}
.selectorTitle {
    font-size: 24px;
    font-weight: bold;
    margin-top: 16px;
    margin-left: 4px;
    margin-bottom: 4px;
}


footer {
    height: 2000px;
}