

$backcoundColor : #060309;
$textColor_1 : #ebe3f4;
$textColor_2 : #819796;

/*Magins*/
$navMargin : 128px;
$mainContentMargingTop : 96px;

/*Cards*/
$cardBorderCol : #FFCC70;

/*Define the three main font sizes to keep consistency*/
$fSizeSmall : 20px;
$fSizeMedium : 32px;
$fSizeLarge : 48px;
/*Screen adjustment to fonts*/
$screenfSizeSmall : 20px;
$screenfSizeMedium : 32px;
$screenfSizeLarge : 48px;


$fSizeLogo : 32px;
$fSizeNav : 20px;
$fSizeh1 : 48px;


/*Other designs that should remain consistent*/
$textBoxWidth : 500px;

$borderRad : 4px;
$lineAndBorderWidth : 2px;
$transitionSpd : 0.2s;

$gradColor1 : #4158D0;
$gradColor2 : #C850C0;
$gradColor3 : #FFCC70;
$globalGradient : linear-gradient(43deg, $gradColor1 0%, $gradColor2 46%, $gradColor3 100%);

@mixin hoverEffectLine($pos) {
    content: "";
    height: 100%;
    width: $lineAndBorderWidth;
    position: absolute;
    right: $pos;


    background-color: #4158D0;
    background-image: $globalGradient;

    transition: right $transitionSpd ease-in-out;
    transition-delay: 0.05s;
    transform: scaleY(0.9);

    /*A fade in animation is needed for the this line effect. 
    Without the fade in, clicking links on the nav bar would feel a bit janky since the line would snap 
    instantly and than back again becuse user is still hovering. Fading the line in helped alot.
    */
    animation-name: navLineFadein;
    animation-duration: 1.5s;
}
@mixin underlineEffectLine($animStart) {
    content: "";
    height: $lineAndBorderWidth;
    position: absolute;

    bottom: 0;

    background-color: #4158D0;
    background-image: $globalGradient;



    /*A fade in animation is needed for the this line effect. 
    Without the fade in, clicking links on the nav bar would feel a bit janky since the line would snap 
    instantly and than back again becuse user is still hovering. Fading the line in helped alot.
    */
    animation-name: navLineFadein;
    animation-duration: 1.5s;
    animation-name: headerLines;
    animation-duration: $animStart;
    animation-fill-mode: forwards;
}

@keyframes navLineFadein {
    0% {opacity: 0}
    25% {opacity: 0}
    100% {opacity: 100;}
}
@keyframes headerLines {
    /*Delay a small amout from opacity fade*/
    0% {width: 0%}
    75% {width: 0%}
    100% {width: 100%}
}



h1 {
    font-size: $fSizeLarge;
    margin-bottom: 8px;
    margin-top: 0px;
    position: relative;
    width: fit-content;
    margin-left: 16px;
}
h1::before {
    @include underlineEffectLine(1.5s);
}
h2 {
    font-size: $fSizeMedium;
    position: relative;
    width: fit-content;
    margin-bottom: 12px;
    margin-left: 16px;
}
h2::before {
    @include underlineEffectLine(2s);
}

/*Set costum font*/
@font-face {
    font-family: myFirstFont;
    src: url(../Font/Outfit-VariableFont.ttf);
}
html {
    font-family: myFirstFont, 'Trebuchet MS', sans-serif;;
}
/**/
body {
    margin: 0;
    /*Set colors*/
    background-color: $backcoundColor;
    color: $textColor_1;

    /*Set main font*/
    font-family: "Outfit" sans-serif;
}

/*Holds main content*/
.globalContainer {
    display: flex;
    align-items: flex-start;
    justify-content:flex-start;
    flex-wrap: wrap;
    margin: 48px;
    margin-top: 64px;
    
}
.logo {
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 16px;
    font-size: $fSizeMedium;
    font-weight: bold;
    width: fit-content;
    height: fit-content;
    position: relative;
    padding-right: 8px;
    padding-left: 8px;


    border-radius: $borderRad;
}
.logo::after {
    @include hoverEffectLine(100%);
    background-color: white;
    background-image: none;
}
.logo:hover::after {
    right: 0%;
}
.logo:hover {
    background-color: $textColor_1;
    color: $backcoundColor;
}
/*Links in navigation*/
.navLink {
    cursor: pointer;
    color: $textColor_1;
    font-size: $fSizeSmall;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 8px;
    width: fit-content;
    padding: 4px;
    text-decoration: none;

    border-radius: $borderRad;

    transition: $transitionSpd;
}
.navLink:hover {
    background-color: $textColor_1;
    color: $backcoundColor;
}
.currentLinkAt {
    color: $gradColor3;
}
header {
    display: flex;
    position: sticky;
    top: 0;
    margin: 48px;
    margin-top: 48px;


    a {
        text-decoration: none;
        color: $textColor_1;
    }

}
/*Main navigation bar*/
.mainNav {
    display: flex;
    flex-flow: column;
    /*Set to absolute so main content can be placed next to it*/
    position: absolute;

    /*border-right: 2px solid;*/

    width: 130px;
    
    margin-top: 48px;
    /*margin-left: calc($navMargin - 8px)/*navMargin - padding*/;
    /*margin-right: $navMargin;*/
    padding-left: 8px;
    padding-right: 16px;
    p {
        margin: 0;
        text-decoration: underline;
    }
}
.mainNav::after {
    @include hoverEffectLine(0%);
}
.mainNav:hover::after {
    right: 100%;
}
/*Card design that holds content with links*/
.card {
    /*Flex display*/
    display: flex;
    align-items: center;
    flex-flow: column;
    /*Set to fit-content to keep size anywhere*/
    width: fit-content;
    

    background-color: $backcoundColor;
    color: $textColor_2;
    border-radius: $borderRad;

    /*Positioning and some extra space betwenn border*/
    padding: 6px;
    margin: 16px;
    position: relative;
    text-align: center;
}
/*Keep images in a conisten style within cards*/
.imgHero {
    width: 320px;
    height: 180px;
    border-radius: $borderRad;
    box-shadow: 0px 0px 40px -20px black;
}
.imgJam {
    width: 315px;
    height: 250px;
    border-radius: $borderRad;
    box-shadow: 0px 0px 40px -20px black;
}
.card:hover {
    color: $textColor_1;
}
.card::before {
    content: "";
    /*Add a new element to act as a border with gradient*/
    /*Set background*/
    background-image: $globalGradient;
    border-radius: $borderRad;
    /*Put behind*/
    z-index: -1;
    /*Overflow to look like border*/
    margin: -$lineAndBorderWidth;
    /*Position same*/
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    box-shadow: 0px 0px 70px -50px $gradColor1;
    transition : box-shadow $transitionSpd;
}
.card:hover::before {
    background-image: none;
    background-color: $gradColor3;
    box-shadow: none;
}
/*Text elements in card*/
.cardName {
    margin: 0px;
    margin-top: 10px;
    font-size: $fSizeMedium;
    font-weight: bold;
    
    /*Add gradient to card name*/
    background-image: $globalGradient;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.cardDesc {
    margin: 0px;
    margin-top: 2px;

    width: 260px;
}
/*Card Links*/
.cardLinksContainer {
    display: flex;
    justify-content: space-around;
    


    /*Set margin to auto so card height sizes in each category remains consistent, and on the same level*/
    margin: 0px;
    margin-top: auto;

    width: 220px;
    a {
        font-size: $fSizeSmall;
        font-weight: bold;
        color: $textColor_1;
        text-decoration: none;
        background-color: $backcoundColor;
        padding: 4px;
        padding-right: 8px;
        padding-left: 8px;

        margin: 4px;
        margin-bottom: 0px;

        border: $lineAndBorderWidth solid $textColor_1;
        border-radius: $borderRad;
        transition: $transitionSpd;
    }
    a:hover {
        background-color: $textColor_1;
        color: $backcoundColor;

        
    }
}
/*Container to hold cards*/
.cardContainer {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: fit-content;
    /*Limit size to keep maximum of 3 games per row*/
    max-width: 1100px;
}
/*Container for main content. Will be in global container to go next to nav bar*/
main {
    display: flex;
    flex-flow: column;
    margin-left: 300px;



    h1 {
        font-weight: normal;
    }
}
.textContent {
    width: fit-content;
    max-width: $textBoxWidth;
    font-size: $fSizeSmall;
    color: $textColor_2;
    margin-top: 12px;
    margin-left: 16px;
}
.headline {
    font-size: $fSizeMedium;
}
.highlight {
    color: $backcoundColor;
    background-color: $textColor_2;
    font-weight: bold;
}


section {
    display: flex;
    flex-flow: column;
}


footer {
    margin: 0;
    margin-left: 48px;
    text-align: right;
    width: fit-content;
    margin-bottom: 32px;
    p {
        position: relative;
        font-size: $fSizeSmall;
        width: 130px;
    }
    p::after {
        @include hoverEffectLine(0%);
    }
    p:hover::after {
        right: 100%;
    }
}


/*Breakpoints for differing screen sizes*/


@media only screen and (max-width: 1500px) {
    /*Smaller margin to start main content*/
    main {
        margin-left: 240px;
    }
} 
@media only screen and (max-width: 1360px) {
    /*Smaller margin to start main content*/
    main {
        margin-left: 64px;
    }
    /*Change flex flow of navbar*/
    .mainNav {
        flex-flow: row;
        width: fit-content;
        margin-left: 200px;
        margin-top: 0px;
    }
    /*Move navbar up and to the side*/
    header {
        position: relative;
        justify-content: flex-start;
    }
    main {
        align-items: center;
    }
    /*Center content correctly*/
    section {
        align-items: center;
    }
    .textContent {
        margin-left: 0px;
    }
    h1 {
        margin-left: 0px;
    }
    h2 {
        margin-left: 0px;
    }
} 
@media only screen and (max-width: 1180px) {
    main {
        margin-left: 16px;
        margin-right: 16px;
    }
    header {
        margin-left: 20px;
    }
    .cardContainer {
        justify-content: center;
    }
}
@media only screen and (max-width: 630px) {
    .textContent {
        width: 100%;
    }
    /*Center navbar*/
    header {
        margin-left: 48px;
        align-items: center;
        flex-flow: column;
    }
    .mainNav {
        align-items: center;
        margin-left: 0px;
        margin-top: 32px;
    }

}

/*Breakpoints*/
@media only screen and (max-width: 600px) {
    
}
@media only screen and (min-width: 600px) {
    
} 
