

$backcoundColor : #060309;
$textColor_1 : #ebe3f4;
$textColor_2 : #819796;

/*Magins*/
$navMargin : 128px;
$mainContentMargingTop : 96px;

/*Cards*/
$cardBorderCol : #FFCC70;

/*Define the three main font sizes to keep consistency*/
$fSizeSmall : 20px;
$fSizeMedium : 32px;
$fSizeLarge : 48px;



$fSizeLogo : 32px;
$fSizeNav : 20px;
$fSizeh1 : 48px;


/*Other designs that should remain consistent*/
$textBoxWidth : 500px;

$borderRad : 4px;
$lineAndBorderWidth : 2px;
$transitionSpd : 0.2s;

$gradColor1 : #4158D0;
$gradColor2 : #C850C0;
$gradColor3 : #FFCC70;
$globalGradient : linear-gradient(43deg, $gradColor1 0%, $gradColor2 46%, $gradColor3 100%);

@mixin hoverEffectLine($pos) {
    content: "";
    height: 100%;
    width: $lineAndBorderWidth;
    position: absolute;
    right: $pos;


    background-color: #4158D0;
    background-image: $globalGradient;

    transition: right $transitionSpd ease-in-out;
    transition-delay: 0.05s;
    transform: scaleY(0.9);

    /*A fade in animation is needed for the this line effect. 
    Without the fade in, clicking links on the nav bar would feel a bit janky since the line would snap 
    instantly and than back again becuse user is still hovering. Fading the line in helped alot.
    */
    animation-name: navLineFadein;
    animation-duration: 1.5s;
}
@mixin underlineEffectLine() {
    content: "";
    height: 100%;
    width: $lineAndBorderWidth;
    position: absolute;
    right: 0;


    background-color: #4158D0;
    background-image: $globalGradient;

    transition: right $transitionSpd ease-in-out;
    transition-delay: 0.05s;
    transform: scaleY(0.9);

    /*A fade in animation is needed for the this line effect. 
    Without the fade in, clicking links on the nav bar would feel a bit janky since the line would snap 
    instantly and than back again becuse user is still hovering. Fading the line in helped alot.
    */
    animation-name: navLineFadein;
    animation-duration: 1.5s;
}

@keyframes navLineFadein {
    0% {opacity: 0}
    25% {opacity: 0}
    100% {opacity: 100;}
}



h1 {
    font-size: $fSizeLarge;
    margin-bottom: 8px;
}
h2 {
    font-size: $fSizeMedium;
}


/**/
body {
    margin: 0;
    /*Set colors*/
    background-color: $backcoundColor;
    color: $textColor_1;

    /*Set main font*/
    font-family: 'Trebuchet MS', sans-serif;
}

/*Holds main content*/
.globalContainer {
    display: flex;
    align-items: flex-start;
    justify-content:flex-start;
    flex-wrap: wrap;
    margin: 48px;
    margin-top: 64px;
    
}
.logo {
    cursor: pointer;
    margin-top: 0px;
    font-size: $fSizeMedium;
    width: fit-content;
    height: fit-content;
    position: relative;
    padding-right: 8px;
    padding-left: 8px;


    border-radius: $borderRad;
}
.logo::after {
    @include hoverEffectLine(100%);
    background-color: white;
    background-image: none;
}
.logo:hover::after {
    right: 0%;
}
.logo:hover {
    background-color: $textColor_1;
    color: $backcoundColor;
}
/*Links in navigation*/
.navLink {
    cursor: pointer;
    color: $textColor_1;
    font-size: $fSizeSmall;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 8px;
    width: fit-content;
    padding: 4px;
    text-decoration: none;

    border-radius: $borderRad;

    transition: $transitionSpd;
}
.navLink:hover {
    background-color: $textColor_1;
    color: $backcoundColor;
}
.currentLinkAt {
    color: $gradColor3;
}
.navAndHome {
    position: sticky;
    top: 0;
    margin: 48px;
    margin-top: 48px;
}
/*Main navigation bar*/
.mainNav {
    display: flex;
    flex-flow: column;
    /*Set to absolute so main content can be placed next to it*/
    position: absolute;

    /*border-right: 2px solid;*/

    width: fit-content;
    
    margin-top: 0;
    /*margin-left: calc($navMargin - 8px)/*navMargin - padding*/;
    /*margin-right: $navMargin;*/
    padding-left: 8px;
    padding-right: 16px;
    p {
        margin: 0;
        text-decoration: underline;
    }
}
.mainNav::after {
    @include hoverEffectLine(0%);
}
.mainNav:hover::after {
    right: 100%;
}
/*Card design that holds content with links*/
.card {
    /*Flex display*/
    display: flex;
    align-items: center;
    flex-flow: column;
    /*Set to fit-content to keep size anywhere*/
    width: fit-content;
    

    background-color: $backcoundColor;
    color: $textColor_2;
    border-radius: $borderRad;

    /*Positioning and some extra space betwenn border*/
    padding: 6px;
    margin: 8px;
    position: relative;
    text-align: center;

    /*Keep images in a conisten style within cards*/
    img {
        width: 320px;
        height: 180px;
        border-radius: $borderRad;
        box-shadow: 0px 0px 40px -20px black;
    }
}
.card:hover {
    color: $textColor_1;
}
.card::before {
    content: "";
    /*Add a new element to act as a border with gradient*/
    /*Set background*/
    background-image: $globalGradient;
    border-radius: $borderRad;
    /*Put behind*/
    z-index: -1;
    /*Overflow to look like border*/
    margin: -$lineAndBorderWidth;
    /*Position same*/
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    box-shadow: 0px 0px 70px -50px $gradColor1;
    transition : box-shadow $transitionSpd;
}
.card:hover::before {
    background-image: none;
    background-color: $gradColor3;
    box-shadow: none;
}
/*Text elements in card*/
.cardName {
    margin: 0px;
    margin-top: 10px;
    font-size: $fSizeMedium;
    font-weight: bold;
    
    /*Add gradient to card name*/
    background-image: $globalGradient;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.cardDesc {
    margin: 0px;
    margin-top: 2px;

    width: 200px;
}
/*Card Links*/
.cardLinksContainer {
    display: flex;
    justify-content: space-around;

    /*Set margin to auto so card height sizes in each category remains consistent, and on the same level*/
    margin: 0px;
    margin-top: auto;

    width: 220px;
    a {
        font-size: $fSizeSmall;
        font-weight: bold;
        color: $textColor_1;
        text-decoration: none;
        background-color: $backcoundColor;
        padding: 4px;
        padding-right: 8px;
        padding-left: 8px;

        margin: 4px;
        margin-bottom: 0px;

        border: $lineAndBorderWidth solid $textColor_1;
        border-radius: $borderRad;
        transition: $transitionSpd;
    }
    a:hover {
        background-color: $textColor_1;
        color: $backcoundColor;

        
    }
}
/*Container to hold cards*/
.cardContainer {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
/*Container for main content. Will be in global container to go next to nav bar*/
.mainContent {
    margin-left: 320px;



    h1 {
        font-weight: normal;
    }
}
.textContent {
    width: $textBoxWidth;
    font-size: $fSizeSmall;
}
.headline {
    font-size: $fSizeMedium;
}


.logo::after {
    @include hoverEffectLine(100%);
    background-color: white;
    background-image: none;
}


/*/**//**/
/*Holds main infomation at middle*/
.infoContainer {
    width: 1200px;
    margin-top: $mainContentMargingTop;
    h1 {
        margin-top: 0px;
        font-weight: normal;
    }
}
.selectorCard {
    width: 320px;
    height: 180px;

    
    border-radius: $borderRad;

    margin: 8px;

    background-color: grey; 
    p {
        display: inline-block;
        margin-left: 4px;
        margin-top: 4px;
        font-size: $fSizeNav;
    }   
}
.selectorTitle {
    font-size: 24px;
    font-weight: bold;
    margin-top: 16px;
    margin-left: 4px;
    margin-bottom: 4px;
}

footer {
    height: 2000px;
}