/*Magins*/
/*Cards*/
/*Define the three main font sizes to keep consistency*/
/*Screen adjustment to fonts*/
/*Other designs that should remain consistent*/
@keyframes navLineFadein {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
@keyframes headerLines {
  /*Delay a small amout from opacity fade*/
  0% {
    width: 0%;
  }
  75% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
h1 {
  font-size: 48px;
  margin-bottom: 8px;
  margin-top: 0px;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}

h1::before {
  content: "";
  height: 2px;
  position: absolute;
  bottom: 0;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  /*A fade in animation is needed for the this line effect. 
  Without the fade in, clicking links on the nav bar would feel a bit janky since the line would snap 
  instantly and than back again becuse user is still hovering. Fading the line in helped alot.
  */
  animation-name: navLineFadein;
  animation-duration: 1.5s;
  animation-name: headerLines;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

h2 {
  font-size: 32px;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 12px;
}

h2::before {
  content: "";
  height: 2px;
  position: absolute;
  bottom: 0;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  /*A fade in animation is needed for the this line effect. 
  Without the fade in, clicking links on the nav bar would feel a bit janky since the line would snap 
  instantly and than back again becuse user is still hovering. Fading the line in helped alot.
  */
  animation-name: navLineFadein;
  animation-duration: 1.5s;
  animation-name: headerLines;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

/*Set costum font*/
@font-face {
  font-family: myFirstFont;
  src: url(../Font/Outfit-VariableFont.ttf);
}
html {
  font-family: myFirstFont, "Trebuchet MS", sans-serif;
}

/**/
body {
  margin: 0;
  /*Set colors*/
  background-color: #060309;
  color: #ebe3f4;
  /*Set main font*/
  font-family: "Outfit" sans-serif;
}

/*Holds main content*/
.globalContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 48px;
  margin-top: 64px;
}

.logo {
  cursor: pointer;
  margin-top: 0px;
  margin-bottom: 16px;
  font-size: 32px;
  font-weight: bold;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 4px;
}

.logo::after {
  content: "";
  height: 100%;
  width: 2px;
  position: absolute;
  right: 100%;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  transition: right 0.2s ease-in-out;
  transition-delay: 0.05s;
  transform: scaleY(0.9);
  /*A fade in animation is needed for the this line effect. 
  Without the fade in, clicking links on the nav bar would feel a bit janky since the line would snap 
  instantly and than back again becuse user is still hovering. Fading the line in helped alot.
  */
  animation-name: navLineFadein;
  animation-duration: 1.5s;
  background-color: white;
  background-image: none;
}

.logo:hover::after {
  right: 0%;
}

.logo:hover {
  background-color: #ebe3f4;
  color: #060309;
}

/*Links in navigation*/
.navLink {
  cursor: pointer;
  color: #ebe3f4;
  font-size: 20px;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 8px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px;
  text-decoration: none;
  border-radius: 4px;
  transition: 0.2s;
}

.navLink:hover {
  background-color: #ebe3f4;
  color: #060309;
}

.currentLinkAt {
  color: #FFCC70;
}

header {
  display: flex;
  position: sticky;
  top: 0;
  margin: 48px;
  margin-top: 48px;
}
header a {
  text-decoration: none;
  color: #ebe3f4;
}

/*Main navigation bar*/
.mainNav {
  display: flex;
  flex-flow: column;
  /*Set to absolute so main content can be placed next to it*/
  position: absolute;
  /*border-right: 2px solid;*/
  width: 130px;
  margin-top: 48px;
  /*margin-left: calc($navMargin - 8px)/*navMargin - padding*/
  /*margin-right: $navMargin;*/
  padding-left: 8px;
  padding-right: 16px;
}
.mainNav p {
  margin: 0;
  text-decoration: underline;
}

.mainNav::after {
  content: "";
  height: 100%;
  width: 2px;
  position: absolute;
  right: 0%;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  transition: right 0.2s ease-in-out;
  transition-delay: 0.05s;
  transform: scaleY(0.9);
  /*A fade in animation is needed for the this line effect. 
  Without the fade in, clicking links on the nav bar would feel a bit janky since the line would snap 
  instantly and than back again becuse user is still hovering. Fading the line in helped alot.
  */
  animation-name: navLineFadein;
  animation-duration: 1.5s;
}

.mainNav:hover::after {
  right: 100%;
}

/*Card design that holds content with links*/
.card {
  /*Flex display*/
  display: flex;
  align-items: center;
  flex-flow: column;
  /*Set to fit-content to keep size anywhere*/
  width: -moz-fit-content;
  width: fit-content;
  background-color: #060309;
  color: #819796;
  border-radius: 4px;
  /*Positioning and some extra space betwenn border*/
  padding: 6px;
  margin: 8px;
  position: relative;
  text-align: center;
}

/*Keep images in a conisten style within cards*/
.imgHero {
  width: 320px;
  height: 180px;
  border-radius: 4px;
  box-shadow: 0px 0px 40px -20px black;
}

.imgJam {
  width: 315px;
  height: 250px;
  border-radius: 4px;
  box-shadow: 0px 0px 40px -20px black;
}

.card:hover {
  color: #ebe3f4;
}

.card::before {
  content: "";
  /*Add a new element to act as a border with gradient*/
  /*Set background*/
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  border-radius: 4px;
  /*Put behind*/
  z-index: -1;
  /*Overflow to look like border*/
  margin: -2px;
  /*Position same*/
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0px 0px 70px -50px #4158D0;
  transition: box-shadow 0.2s;
}

.card:hover::before {
  background-image: none;
  background-color: #FFCC70;
  box-shadow: none;
}

/*Text elements in card*/
.cardName {
  margin: 0px;
  margin-top: 10px;
  font-size: 32px;
  font-weight: bold;
  /*Add gradient to card name*/
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cardDesc {
  margin: 0px;
  margin-top: 2px;
  width: 260px;
}

/*Card Links*/
.cardLinksContainer {
  display: flex;
  justify-content: space-around;
  /*Set margin to auto so card height sizes in each category remains consistent, and on the same level*/
  margin: 0px;
  margin-top: auto;
  width: 220px;
}
.cardLinksContainer a {
  font-size: 20px;
  font-weight: bold;
  color: #ebe3f4;
  text-decoration: none;
  background-color: #060309;
  padding: 4px;
  padding-right: 8px;
  padding-left: 8px;
  margin: 4px;
  margin-bottom: 0px;
  border: 2px solid #ebe3f4;
  border-radius: 4px;
  transition: 0.2s;
}
.cardLinksContainer a:hover {
  background-color: #ebe3f4;
  color: #060309;
}

/*Container to hold cards*/
.cardContainer {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: -moz-fit-content;
  width: fit-content;
}

/*Container for main content. Will be in global container to go next to nav bar*/
main {
  display: flex;
  flex-flow: column;
  margin-left: 320px;
}
main h1 {
  font-weight: normal;
}

.textContent {
  width: 500px;
  font-size: 20px;
  color: #819796;
  margin-top: 12px;
}

.headline {
  font-size: 32px;
}

.highlight {
  color: #060309;
  background-color: #819796;
  font-weight: bold;
}

section {
  display: flex;
  flex-flow: column;
}

footer {
  margin: 0;
  margin-left: 48px;
  text-align: right;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 32px;
}
footer p {
  position: relative;
  font-size: 20px;
  width: 130px;
}
footer p::after {
  content: "";
  height: 100%;
  width: 2px;
  position: absolute;
  right: 0%;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  transition: right 0.2s ease-in-out;
  transition-delay: 0.05s;
  transform: scaleY(0.9);
  /*A fade in animation is needed for the this line effect. 
  Without the fade in, clicking links on the nav bar would feel a bit janky since the line would snap 
  instantly and than back again becuse user is still hovering. Fading the line in helped alot.
  */
  animation-name: navLineFadein;
  animation-duration: 1.5s;
}
footer p:hover::after {
  right: 100%;
}

@media only screen and (max-width: 1500px) {
  /*Smaller margin to start main content*/
  main {
    margin-left: 240px;
  }
}
@media only screen and (max-width: 1300px) {
  /*Smaller margin to start main content*/
  main {
    margin-left: 64px;
  }
  /*Change flex flow of navbar*/
  .mainNav {
    flex-flow: row;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: 200px;
    margin-top: 0px;
  }
  /*Move navbar up and to the side*/
  header {
    position: relative;
    justify-content: flex-start;
  }
  main {
    align-items: center;
  }
  /*Center content correctly*/
  section {
    align-items: center;
  }
}
@media only screen and (max-width: 1180px) {
  main {
    margin-left: 16px;
    margin-right: 16px;
  }
  header {
    margin-left: 20px;
  }
  .cardContainer {
    justify-content: center;
  }
}
@media only screen and (max-width: 630px) {
  .textContent {
    width: 100%;
  }
  /*Center navbar*/
  header {
    margin-left: 48px;
    align-items: center;
    flex-flow: column;
  }
  .mainNav {
    align-items: center;
    margin-left: 0px;
    margin-top: 32px;
  }
}
/*Breakpoints*//*# sourceMappingURL=style.css.map */