/*Define colors*/
$backcoundColor : #060309;
$textColor_1 : #ebe3f4;
$textColor_2 : #B8D9D4;
$gradColor1 : #4158D0;
$gradColor2 : #C850C0;
$gradColor3 : #FFCC70;
$globalGradient : linear-gradient(43deg, $gradColor1 0%, $gradColor2 46%, $gradColor3 100%);
/*Magins*/
$navMargin : 128px;
$mainContentMargingTop : 96px;

/*Cards*/
$cardBorderCol : #FFCC70;

/*Define the three main font sizes to keep consistency*/
$fSizeSmall : 26px;
$fSizeMedium : 32px;
$fSizeLarge : 48px;

/*Other designs that should remain consistent*/
$textBoxWidth : 500px;
$borderRad : 4px;
$lineAndBorderWidth : 2px;
$transitionSpd : 0.2s;

/*This is the mixin for having the line effect (vertical), used for hover effects
Has gradient, but can be changed to regular color. Such as with the logo.
*/
@mixin hoverEffectLine($pos) {
    content: "";
    height: 100%;
    width: $lineAndBorderWidth;
    position: absolute;
    right: $pos;


    background-color: #4158D0;
    background-image: $globalGradient;

    transition: right $transitionSpd ease-in-out;
    transition-delay: 0.05s;
    transform: scaleY(0.9);

    /*A fade in animation is needed for the this line effect. 
    Without the fade in, clicking links on the nav bar would feel a bit janky since the line would snap 
    instantly and than back again becuse user is still hovering. Fading the line in helped alot.
    */
    animation-name: navLineFadein;
    animation-duration: 1.5s;
}
/*This is the mixin for gradient underline. Used for h1 and h2*/
@mixin underlineEffectLine($animStart) {
    content: "";
    height: $lineAndBorderWidth;
    position: absolute;

    bottom: 0;

    /*Create gradient*/
    background-color: #4158D0;
    background-image: $globalGradient;
    /*
    A fade in animation is needed for the this line effect. 
    Without the fade in, clicking links on the nav bar would feel a bit janky since the line would snap 
    instantly and than back again becuse user is still hovering. Fading the line in helped alot.
    */

    /*Draw from left to right animation*/
    animation-name: headerLines;
    animation-duration: $animStart;
    animation-fill-mode: forwards;
}
/*Keyframes to use for animating in the line effects*/
@keyframes navLineFadein {
    0% {opacity: 0};
    25% {opacity: 0};
    100% {opacity: 100};
}
@keyframes headerLines {
    0% {width: 0%};
    75% {width: 0%};
    100% {width: 100%};
}
/*Set costum font*/
@font-face {
    font-family: myFirstFont;
    src: url(./Font/Outfit-VariableFont.ttf);
}
html {
    font-family: myFirstFont, 'Trebuchet MS', sans-serif;
}
/*Set standard styling*/
body {
    margin: 0;
    /*Set colors*/
    background-color: $backcoundColor;
    color: $textColor_1;
}
/*Style h1, and add underline effect*/
h1 {
    font-size: $fSizeLarge;
    position: relative;
    width: fit-content;
    margin: 0px 0px 8px 16px
}
h1::before {
    /*Add underline effect*/
    @include underlineEffectLine(1.5s);
}
/*Style h2, and underline effect with delay*/
h2 {
    font-size: $fSizeMedium;
    position: relative;
    width: fit-content;
    margin: 20px 0px 12px 16px 
}
h2::before {
    /*Add underline effect, with slightly longer animation time to have a delay from h1*/
    @include underlineEffectLine(2s);
} 
/*Style the text 'logo', which is placed above nav*/
.logo {
    cursor: pointer;
    /*Font*/
    font-size: $fSizeMedium;
    font-weight: bold;

    /*Positioning*/
    position: relative;
    margin: 0 8px 16px 8px;

    /**/
    width: fit-content;
    height: fit-content;
    border-radius: $borderRad;
}
.logo::after {
    /*Add line hover effect, and change gradient to white*/
    @include hoverEffectLine(100%);
    background-color: $textColor_1;
    background-image: none;
}
.logo:hover::after {
    right: 0%;
}
.logo:hover {
    background-color: $textColor_1;
    color: $backcoundColor;
}
/*Styling for links inside of nav bar (can be used for general links aswell)*/
.navLink {
    cursor: pointer;
    /*Font*/
    font-size: $fSizeSmall;
    font-weight: bold;
    text-decoration: none;
    /*Styling*/
    color: $textColor_1;
    border-radius: $borderRad;
    /**/
    margin: 0px 8px 0px 8px;
    padding: 4px;
    width: fit-content;
    /*Set animation speed*/
    transition: $transitionSpd;
}
.navLink:hover {
    /*Hover effect*/
    background-color: $textColor_1;
    color: $backcoundColor;
}
/*When nav links are used in text, they need different margins for small screens which this class handels*/
.linkInText {
    margin: 16px;
}
/*Contains logo and nav bar*/
header {
    display: flex;
    /*Stick to screen*/
    position: sticky;
    top: 0;
    /*margin. Bottoms defines how far down the main content on page starts*/
    margin: 48px 48px 8px 48px;
    /*Fix link color in header*/
    a {
        text-decoration: none;
        color: $textColor_1;
    }
}
/*Main navigation bar*/
.mainNav {
    /*Holds all navigation links*/
    display: flex;
    flex-flow: column;
    /*Set to absolute so main content can be placed next to navigation*/
    position: absolute;
    /*Set the width. This defines where the line hover effect is placed*/
    width: 130px;
    /*Positoning*/
    margin-top: 48px;
    padding-left: 8px;
    padding-right: 16px;
    /*Removes margin for the link the user is currently veiwing*/
    p {
        margin: 0;
        text-decoration: underline;
    }
}
.mainNav::after {
    /*Add the hover line effect*/
    @include hoverEffectLine(0%);
}
.mainNav:hover::after {
    right: 100%;
}
/*Card design that holds content with links*/
.card {
    /*Flex display*/
    display: flex;
    align-items: center;
    flex-flow: column;
    /*Set to fit-content to keep size anywhere*/
    width: fit-content;
    
    /*Colors*/
    background-color: $backcoundColor;
    color: $textColor_2;
    border-radius: $borderRad;
    font-size: $fSizeSmall;

    /*Positioning and some extra space betwenn border*/
    padding: 6px;
    margin: 16px;
    position: relative;
    text-align: center;
}
.card:hover {
    /*Highlight text in card that user is hovering*/
    color: $textColor_1;
}
.card::before {
    content: "";
    /*Adds a new element behind card which is applied the gradient. Adding negativ margin creates the gradient border effect*/
    /*Set background*/
    background-image: $globalGradient;
    border-radius: $borderRad;
    box-shadow: 0px 0px 70px -50px $gradColor1;
    /*Put behind*/
    z-index: -1;
    /*Overflow to look like border*/
    margin: -$lineAndBorderWidth;
    /*Position same as card*/
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    /**/
    transition : box-shadow $transitionSpd;
}
.card:hover::before {
    /*Highligth border of the card user is hovering, and remove the shadow*/
    background-image: none;
    background-color: $gradColor3;
    box-shadow: none;
}
/*Keeps images the same size for all main games. Images needs to fit this ratio so it does not look stretched*/
.imgHero {
    width: 320px;
    height: 180px;
    border-radius: $borderRad;
    box-shadow: 0px 0px 40px -20px black;
}
/*Images for the smaller games have slightly different ratios*/
.imgJam {
    width: 315px;
    height: 250px;
    border-radius: $borderRad;
    box-shadow: 0px 0px 40px -20px black;
}
/*Headline / name for card*/
.cardName {
    /*Slight margin to top only*/
    margin: 10px 0px 0px 0px;
    /*font*/
    font-size: $fSizeMedium;
    font-weight: bold;
    /*Add gradient to card name to make it stand out*/
    background-image: $globalGradient;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.cardDesc {
    /*Sligth margin to seperate from name*/
    margin: 4px 0px 4px 0px;
    /*Define width size of text content in cards. 
    If card does not contain any image this or the card name will be the width of card. 
    Depening on which is bigger*/
    width: 260px;
}
/*Card Links*/
.cardLinksContainer {
    /*Set to flex*/
    display: flex;
    justify-content: space-around;
    
    /*Set margin-top to auto so card height sizes in each category remains consistent, and on the same level*/
    margin: 0px;
    margin-top: auto;
    width: 220px;
    /*Button design for links - exclusivly used in cards*/
    a {
        font-size: $fSizeSmall;
        font-weight: bold;
        color: $textColor_1;
        text-decoration: none;
        background-color: $backcoundColor;
        padding: 4px;
        padding-right: 8px;
        padding-left: 8px;

        margin: 4px;
        margin-bottom: 0px;

        border: $lineAndBorderWidth solid $textColor_1;
        border-radius: $borderRad;
        transition: $transitionSpd;
    }
    a:hover {
        background-color: $textColor_1;
        color: $backcoundColor;
    }
}
/*Container to hold cards*/
.cardContainer {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: fit-content;
    /*Limit size to keep maximum of 3 games per row*/
    max-width: 1100px;
}
/*Main is flex so centent is placed correctly. And for responsivity*/
main {
    display: flex;
    flex-flow: column;
    /*Seperate itself from nav bar*/
    margin-left: 240px;
    h1 {
        font-weight: normal;
    }
}
/*Class for all text content that is under a heading. (not used for text in cards)*/
.textContent {
    width: fit-content;
    max-width: $textBoxWidth;
    font-size: $fSizeSmall;
    color: $textColor_2;
    margin: 12px 0px 12px 16px;
}
/*Highligt text in text content for style*/
.highlight {
    color: $backcoundColor;
    background-color: $textColor_2;
    font-weight: bold;
    animation-name: navLineFadein;
    animation-duration: 1.5s;
}
/*Section as flex is needed for centering at smaller screen sizes*/
section {
    display: flex;
    flex-flow: column;
}
/*Footer deisgn*/
footer {
    display: flex;
    flex-flow: column;
    margin: 48px;
    position: relative;
    p {
        font-size: $fSizeSmall;
        font-weight: bold;
        margin: 0;
        color: $textColor_2;
    }
}
/*End of defined classes*/
/*Responsivity adjustments starts here*/

/*First breakpoint
Page reads from center instead of left
*/
@media only screen and (max-width: 1360px) {
    /*Smaller margin to start main content*/
    main {
        margin-left: 64px;
    }
    /*Change flex flow of navbar*/
    .mainNav {
        flex-flow: row;
        width: fit-content;
        margin-left: 200px;
        margin-top: 0px;
    }
    /*Move navbar up and to the side*/
    header {
        position: relative;
        justify-content: flex-start;

        /*Add some more space between header and main content*/
        margin-bottom: 16px;
    }
    /*Center everyting in main*/
    main {
        align-items: center;
        margin-left: 16px;
        margin-right: 16px;
    }
    /*Center content correctly*/
    section {
        align-items: center;
    }
    footer {
        justify-content: center;
        text-align: center;
    }
    .cardContainer {
        justify-content: center;
    }
    /*Removes margins needed for full veiw*/
    .textContent {
        margin-left: 0px;
    }
    h1 {
        margin-left: 0px;
    }
    h2 {
        margin-left: 0px;
    }
    .linkInText {
        margin: 0px;
    }
    /*Smaller margin for logo and nav bar*/
    header {
        margin-left: 20px;
    }
} 
/*Second breakpoint*/
@media only screen and (max-width: 630px) {
    /*Allow more space for text to be displayed*/
    .textContent {
        width: 100%;
    }
    /*Center navbar, and place logo above it*/
    header {
        margin-left: 48px;
        align-items: center;
        flex-flow: column;
    }
    .mainNav {
        align-items: center;
        margin-left: 0px;
        margin-top: 38px;
    }
    /*Add some more space for main content as it gets to close to navigation*/
    main {
        margin-top: 32px;
    }
}